body {
  font-family: Helvetica;
}

pre,
code {
  font-family: Consolas, Menlo, "courier new", monospace;
  background-color: rgba(222, 222, 222, 0.3);
  color: rgb(220, 20, 60);
  border-radius: 0.25em;
  box-sizing: border-box;
  padding-left: 4px;
  padding-right: 4px;
}

/* kevinyen additions */

h1 {
    font-weight: bold;
}

h2 {
    text-transform: uppercase;
    font-weight: normal;
    text-decoration: underline;
    font-size: 1rem;
}

h3 {
    font-size: 1rem;
}

hr {
    max-width: 56rem;
}

sup {
    font-size: 0.7em;
    font-style: italic;
    font-weight: normal;
}

ul {
  margin: 0rem auto 0rem;
  padding-inline-start: 2rem;
}

footer {
  display: none;
}
