html {
  max-width: 100%;
}

body {
  font-family: Verdana, sans-serif;
  max-width: 100%;
}

p,
*:not(div):not(img):not(body):not(html):not(li):not(blockquote):not(p):not(hr) {
  margin: 1rem auto 1rem;
  max-width: 56rem;
}

div {
  width: 100%;
}

div img {
  width: 100%;
}

blockquote p {
  max-width: 52em;
}

li {
  margin-left: 2rem;
}

pre,
code {
  font-family: Consolas, Menlo, "courier new", monospace;
  background-color: rgba(222, 222, 222, 0.3);
  color: rgb(220, 20, 60);
  border-radius: 0.25em;
  box-sizing: border-box;
  padding-left: 4px;
  padding-right: 4px;
}

a,
a:visited {
  color: #3498db;
}

a:hover,
a:focus,
a:active {
  color: #2980b9;
}

/* kevinyen additions */

h1 {
    font-weight: bold;
}

h2 {
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: underline;
}

h3 {
    font-weight: bold;
}

hr {
    max-width: 56rem;
}

sup {
    font-size: 0.7em;
    font-style: italic;
    font-weight: normal;
}
