<!doctype html>
<html>
<head>
  <meta charset=utf-8 />
  <title>{% if page.title %}{{ page.title }}{% endif %}</title>
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  <link href="media/{{ site.style }}.screen.css" type="text/css" rel="stylesheet" media="screen">
  <link href="media/{{ site.style }}.print.css" type="text/css" rel="stylesheet" media="print">
</head>
<body>
  <div id="main">
    <div id="content">
    {{ content }}
    </div>
  </div>
  <footer>
    <p id=last-modified></p>
  </footer> 
  <script>
    if (document.getElementById('last-modified')) {
      fetch("https://api.github.com/repos/{{ site.github.owner_name }}/{{ site.github.repository_name }}/commits?path=/index.md")
        .then((response) => {
          return response.json();
        })
        .then((commits) => {
          document.getElementById('last-modified').textContent = "Last Edit: " + commits[0]['commit']['committer']['date'];
        });
    }
  </script>
</body>
</html>
